<div class="center hero-unit">
  <h1>Welcome to reddit-clone</h1>

  <h2>
    Waste your time, or get out! <br>Why productive when you can not productive?<br> Look at all these <a href=<%= subs_url %>>subreddits (clones)!!!</a> Click on them now.
  </h2>

  <% unless current_user%>
    <%= link_to "Sign up!", new_user_url, class: "btn btn-large btn-primary" %>
  <% end %>
  <h2><%= link_to "Link everything now!", new_link_url %></h2>
</div>